@cliente.base("Cliente CRM","Carretilla","Articulos a comprar","carretilla"){
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Articulos en carretilla</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th>Quitar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Camisa</a></td>
                            <td><input type="number" name="cantidad" min="1" max="5" class="form-control btn-number"/></td>
                            <td>$321.33</td>
                            <td>$500.33</td>
                            <td><button type="button" class="btn btn-danger" aria-label="Left Align"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>   
                        </tr>

                        <tr>
                            <td><a href="#">Camisa</a></td>
                            <td><input type="number" name="cantidad" min="1" max="5" class="form-control btn-number"/></td>
                            <td>$321.33</td>
                            <td>$500.33</td>
                            <td><button type="button" class="btn btn-danger" aria-label="Left Align"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                        </tr>

                        <tr>
                            <td><a href="#">Camisa</a></td>
                            <td><input type="number" name="cantidad" min="1" max="5" class="form-control btn-number"/></td>
                            <td>$321.33</td>
                            <td>$500.33</td>
                            <td><button type="button" class="btn btn-danger" aria-label="Left Align"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                        </tr>

                        <tr>
                            <td><a href="#">Camisa</a></td>
                            <td><input type="number" name="cantidad" min="1" max="5" class="form-control btn-number"/></td>
                            <td>$321.33</td>
                            <td>$500.33</td>
                            <td><button type="button" class="btn btn-danger" aria-label="Left Align"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p><a href="#" class="btn btn-warning" role="button">Realizar Compra</a></p>
                </div>

                <div class="col-lg-6">
                    <div class="text-right">
                        Monto total (USD): $568948.99
                    </div>
                </div>
                
                
            </div>
            
        </div>
    </div>
}