@cliente.base("Cliente CRM","Ofertas","Las mejores ofertas solo para ti","ofertas"){
	<div class="row">

	    <div class="col-sm-3 col-lg-3 col-md-3">
	        <div class="thumbnail">
	            <img src="http://placehold.it/320x150" alt="">
	            <div class="caption">
	                <h4 class="pull-right">$24.99</h4>
	                <h4><a href="#">First Product</a>
	                </h4>
	                <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
	            </div>
	        </div>
	    </div>

	    <div class="col-sm-3 col-lg-3 col-md-3">
	        <div class="thumbnail">
	            <img src="http://placehold.it/320x150" alt="">
	            <div class="caption">
	                <h4 class="pull-right">$64.99</h4>
	                <h4><a href="#">Second Product</a>
	                </h4>
	                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	            </div>
	        </div>
	    </div>

	    <div class="col-sm-3 col-lg-3 col-md-3">
	        <div class="thumbnail">
	            <img src="http://placehold.it/320x150" alt="">
	            <div class="caption">
	                <h4 class="pull-right">$74.99</h4>
	                <h4><a href="#">Third Product</a>
	                </h4>
	                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	            </div>
	        </div>
	    </div>

	    <div class="col-sm-3 col-lg-3 col-md-3">
	        <div class="thumbnail">
	            <img src="http://placehold.it/320x150" alt="">
	            <div class="caption">
	                <h4 class="pull-right">$84.99</h4>
	                <h4><a href="#">Fourth Product</a>
	                </h4>
	                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	            </div>

	        </div>
	    </div>

	    <div class="col-sm-3 col-lg-3 col-md-3">
	        <div class="thumbnail">
	            <img src="http://placehold.it/320x150" alt="">
	            <div class="caption">
	                <h4 class="pull-right">$94.99</h4>
	                <h4><a href="#">Fifth Product</a>
	                </h4>
	                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	            </div>
	        </div>
	    </div>

	</div>

}